.DS_Store
.env
.idea

node_modules

data/postgres/db-data/**
data/redis/cache/**

**/harmonic_detector/data/**

**/nginx/logs/**

venv*
.venv*

tsconfig.tsbuildinfo

nginx/conf.d/env.conf

monitoring/loki/data
monitoring/prometheus/data
monitoring/grafana/data

**/backtrader/**.html
__pycache__

trading/apps/rust*/target/
