body {
    background-color: rgb(34, 34, 34);
    display: flex;
    height: 100vh;
}

.button-container {
    flex: 1;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: -10%;
}

.button {
    background-color: rgb(87, 83, 158);
    border-radius: 10px;
    height: 10%;
    width: 40%;
    font-size: 4rem;
    color: white;
    border: unset;
    cursor: pointer;
}
